{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row mt-5 text-center">
        <h2>{% trans "Sign Up" %}</h2>
        {% setvar link %}
        <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
        </a>
        {% endsetvar %}
        <p>
            {% blocktranslate %}
            Already have an account? Then please {{ link }}sign in{{ end_link }}.
            {% endblocktranslate %}
        </p>
    </div>
    <div class="row my-3 d-flex justify-content-center">
        <div class="col-md-6 col-8">
            {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_signup' as action_url %}
                <form method="post" action="{{ action_url }}"> 
                    {% csrf_token %}
                    {{ form|crispy }}  
                    {{ redirect_field }} 
                    <button class="btn btn-secondary">
                        {% trans "Sign Up" %}
                    </button>
                </form> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}