/************************ Google Fonts Import ****************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

/************************ Styles for base.html ***************************/
body {
  font-family: "Noto Serif", serif;
}

main {
  background-color: rgb(225, 225, 225);
}

header, footer {
  background-color: white;
}

.sticky-top {
  background-color: white;
}

.title {
  font-family: "Sevillana", cursive;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 50px;
  text-align: center;
}

.intro {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}

.fa-bars {
  line-height: unset;
}

/************************ Custom Style for breaking news banner **********/
.breaking-news-ticker {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/************************ Custom Style for Cards *************************/
.card {
  box-shadow: 1px 1px 5px grey;
  background-color: white;
}

.image-index {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

/************************ Custom Style for images in articles ************/
.image-article {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/************************ Custom Style for like button *******************/
.fa-heart {
  color: red;
}

.fa-heart:hover {
  color: rgba(255, 0, 0, 0.432);
}