{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row d-flex justify-content-between p-3">
                <div class="col-lg-5">
                    <h2 class="text-center my-3">{{ article.title }}</h2>
                    <p class="pe-5">
                        {{ article.excerpt|safe }}
                    </p>
                </div>
                {% if article.image and "placeholder" not in article.image.url %}
                <div class="col-lg-5 mt-3">
                    <img class="image-article" src="{{ article.image.url }}" alt="{{ article.title }}" />
                </div>
                {% endif %}
            </div>
            <div class="row p-3 my-3">
                <p>{{ article.content|safe }}</p>
                <p class="card-text text-muted h6">
                    Published on {{ article.created_on }} by {{ article.author }}
                </p>
                {% if user.is_authenticated %}
                <a class="fs-3 text-decoration-none text-dark" href="{% url 'article_like' article.slug %}">
                    <i class="far fa-heart"></i>
                    <span>{{ number_of_likes }}</span>
                </a>
                {% else %}
                <p>To like an article you must <a href="{% url 'account_login' %}">login.</a></p>
                <i class="far fa-heart"></i>
                <span>{{ number_of_likes }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Leave a comment here:</h2>
        <form id="commentForm" class="col-6 my-3" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button id="submitButton" class="btn btn-secondary text-center m-2" type="submit"
                aria-label="Click here to submit your comment">Submit</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 mb-2 comment
          {% if not comment.approved and comment.author == user or is_moderator %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold text-black-50">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.content | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="text-danger bg-secondary-50">
                       - This comment is awaiting approval -
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.created_by == user or is_moderator %}
                    <button class="btn btn-danger btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-warning btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                    {% if is_moderator and not comment.approved %} 
                    <a class="btn btn-info" href="{% url 'approve_comment' article.slug comment.id %}">Approve</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}