{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="text-center my-3">{{ article.title }}</h2>
                    <p class="pe-5">
                        {{ article.excerpt|safe }}
                    </p>
                </div>
                {% if article.image and "placeholder" not in article.image.url %}
                <div class="col-lg-5 mt-3">
                    <img class="image-article" src="{{ article.image.url }}" alt="{{ article.title }}" />
                </div>
                {% endif %}
            </div>
            <div class="row p-3 my-3">
                {{ article.content|safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}