{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    {% for new in breaking_news %}
    <div class="row  d-flex justify-content-center">
        <div class="col-8 card my-2 px-0">
            <div class="alert alert-danger py-0 breaking-news-ticker">
                BREAKING NEWS
            </div>
            {% if new.image and "placeholder" not in new.image.url %}
            <div class="d-flex justify-content-center">
                <img class="image-index" src="{{ new.image.url }}" alt="{{ new.title }}" />
            </div>
            {% endif %}
            <div class="card-body">
                <h2 class="card-title text-center">{{ new.title }}</h2>
                <p class="card-text text-center">{{ new.excerpt|safe }}</p>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'article_detail' new.slug %}" class="btn btn-secondary stretched-link"
                        aria-label="click on the article to open it">Click Here To Read More</a>
                </div>
                <i class="fs-4 far fa-heart"></i>
                    <span class="fs-4 text-decoration-none text-dark">{{ new.number_of_likes }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row d-flex justify-content-center">
        {% for article in articles %}
        <div class="col-md-5 mb-2">
            <div class="card">
                {% if article.image and "placeholder" not in article.image.url %}
                <div class="d-flex justify-content-center">
                    <img class="image-index mt-3" src="{{ article.image.url }}" alt="{{ article.title }}" />
                </div>
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title text-center">{{ article.title }}</h3>
                    <p class="card-text text-center">{{ article.excerpt|safe }}</p>
                    <div class=" d-flex justify-content-center">
                        <a href="{% url 'article_detail' article.slug %}" class="btn btn-secondary stretched-link"
                            aria-label="click on the article to open it">Click Here To Read More</a>
                    </div>
                    <i class="fs-4 far fa-heart"></i>
                    <span class="fs-4 text-decoration-none text-dark">{{ article.number_of_likes }}</span>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row d-flex justify-content-center">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}