{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    {% for new in breaking_news %}
    <div class="row  d-flex justify-content-center">
        <div class="col-8 card my-2 px-0">
            <div class="alert alert-danger breaking-news-ticker" role="alert">
                <span class="ticker-content">
                    BREAKING NEWS - BREAKING NEWS - BREAKING NEWS - BREAKING NEWS - BREAKING NEWS - BREAKING NEWS
                </span>
            </div>
            <div class="card-body">
                <h2 class="card-title text-center">{{ new.title }}</h2>
                <p class="card-text text-center">{{ new.excerpt }}</p>
                <div class=" d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for article in articles %}

    {% endfor %}

</div>

{% endblock %}