{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Meta Tags-->
    <meta name="description" content="Good news about the world, health, science, nature">
    <meta name="keywords" content="happy news, good news, science, health, world news, nature">
    <meta name="author" content="Marlon Martynkiewitz">
    <!--Title-->
    <title>Good World News</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <!--Bootstrap5 CSS import-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Fontawesome import-->
    <script src="https://kit.fontawesome.com/98b8135e56.js" crossorigin="anonymous"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <!--Offcanvas menu toggler-->
    <nav class="d-flex justify-content-start sticky-top">
        <a class="ps-md-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample" aria-label="click here to open menu">
            <i class="fa-solid fa-bars fs-2 text-black"></i>
        </a>
    </nav>
    <header class="container-fluid pt-3">
        <div class="d-flex justify-content-center">
            <h1 class="pb-2 title">Good World News</h1>
        </div>
        <p class="pb-2 intro">- Stay happy and informed! -</p>
    </header>
    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Content-->
    <main class="flex-shrink-0 flex-grow-1">

        {% block content %}
        <!--Content of other templates will be put here-->
        {% endblock content %}

    </main>
    <!--Footer-->
    <footer class="container-fluid mt-auto py-3">
        <div class="container-fluid">
            <div class="row">
                <span class="col-4 text-center">Good News For You!</span>
                <a href="{{ home_url }}" class="col-4 text-center"
                    aria-label="click here to reload site and go back to top">
                    <i class="fa-solid fa-earth-europe text-black"></i>
                </a>
                <span class="col-4 text-center">&copy; 2024</span>
            </div>
        </div>
    </footer>
    <!--Menu as offcanvas-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                        href="{% url 'home' %}" aria-label="Click here to go to newsfeed">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == about_url %}active" aria-current="page{% endif %}"
                        href="{% url 'about' %}" aria-label="click here to go to about page">About</a>
                    {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                        href="{% url 'account_logout' %}" aria-label="click here to log out">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                        href="{% url 'account_signup' %}" aria-label="click here to register a new account">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                        href="{% url 'account_login' %}" aria-label="click here to sign in">Login</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == contact_url %}active" aria-current="page{% endif %}"
                        href="{% url 'contact' %}" aria-label="click here to fill out a contact form">Contact Us</a>
            </ul>
        </div>
    </div>
    <!--Bootstrap5 JS import-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    {% block extras %}
    {% endblock extras %}
</body>

</html>